body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

#logo {
    width:100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 25px;
}

input {
    border: none;
    font-size: 16px;
    line-height: 34px;
    outline: none;
    height: 40px;
    width: 500px;
    color: #222;
}

#search, #mic {
    height: 22px;
    padding-right: 10px;
}

#searchbar {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    min-width: 580px;
}

#searchbar:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

#menu {
    width: 25px;
    height: 25px;
}

.search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    padding-left: 20px;
}

#profile-pic {
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile * {
    margin-left: 20px;
}

.results a img {
    height: 20px;
    margin-right: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 178px;
}

.results a {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.results a:first-child {
    color: #1a73e8;
}

.results::before {
    content: "";
    width: 45px;
    position: absolute;
    top: 110px;
    left: 195px;
    border-bottom: 4px solid #1a73e8;
}

nav a {
    text-decoration: none;
    color: #5f6368;
    margin-right: 17px;
}

.more-results {
    color: #5f6368;
    position: relative;
    top: 10px;
    left: 185px;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
}