body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

#logo {
    width:100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 25px;
}

input {
    border: none;
    font-size: 16px;
    line-height: 34px;
    outline: none;
    height: 40px;
    width: 250px;
    color: #222;
}

#search, #mic {
    height: 22px;
    padding-right: 10px;
}

.icons {
    margin-left: 240px;
}

#searchbar {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    min-width: 580px;
}

#searchbar:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

#menu {
    width: 25px;
    height: 25px;
}

.search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    padding-left: 20px;
}

#profile-pic {
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile * {
    margin-left: 20px;
}

.results a img {
    height: 20px;
    margin-right: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tools {
    white-space: nowrap;
}

.results {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 178px;
}

.results a {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.results a:first-child {
    color: #1a73e8;
}

.results::before {
    content: "";
    width: 45px;
    position: absolute;
    top: 110px;
    left: 195px;
    border-bottom: 4px solid #1a73e8;
}

nav a {
    text-decoration: none;
    color: #5f6368;
    margin-right: 17px;
}

.more-results {
    color: #5f6368;
    position: relative;
    top: 10px;
    left: 186px;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
    width: 825px;
}

main * {
    margin-left: 62px;
}

main a {
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
}

h2 {
    color: #1a0dab;
    font-size: 20px;
    text-decoration: none;
    font-weight:400;
}

.title {
    display: block;
    margin-top: -10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

article p {
    display: block;
    margin-top: -10px;
    color: #5f6368;
}

.top-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    margin-top: 20px;
}

.first-link {
    color: #222;
}

.second-link {
    color: #5f6368;
    margin-left: 0px;
}

.image-results img {
    height: 20px;
    width: auto;
}

.image-results {
    display: flex;
    flex-direction: column;
}

.image-results a{
    color: #222;
    display: flex;
    align-items: center;
}

.image-results a p {
    font-size: 20px;
    margin-left: 10px;
}

.image-results a p:hover {
    color: #1a0dab;
}

.img-related-searches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.related-search {
    margin-left: 10px;
    height: 25px;
    border: 1px solid #dadce0;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.related-search:hover{
    background-color: #f8f9fa;
}

.related-search:first-child {
    margin-left: 62px;
}

.related-search a {
    margin: 0;
    padding-right: 10px;
}

.related-search a p:hover {
    text-decoration: none;
    color:#222;
}

.related-search div, #expand {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.related-search a p {
    font-size: 14px;
}

#webflow {
    background-image: url("../img/result1.jpg");
}

#weebly {
    background-image: url("../img/result4.png");
}

#personal {
    background-image: url("../img/result4.jpg");
}
#mobirise {
    background-image: url("../img/result5.png");
}
#google {
    background-image: url("../img/googlelogo_color_272x92dp.png");
}

#expand {
    margin-left: 15px;
    border: 1px solid #dadce0;
    border-radius: 25%;
}

.img-related-searches a {
    margin:0;
}

.large-images {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.largeimage{
    height: 125px;
    width: 174px;
    background-size: cover;
    background-position: center;
}

.largeimage:not(#first-image){
    margin-left:1px;
}

.large-images:not(.large-images:first-child){
    margin-left:1px;
}

.large-images a:not(.large-images a:first-child) {
    margin-left: 0;
}

#first-image{
    background-image: url("../img/result1.jpg");
}

#second-image{
    background-image: url("../img/result2.jpg");
}

#third-image{
    background-image: url("../img/googlelogo_color_272x92dp.png");
}

#fourth-image{
    background-image: url("../img/result3.png");
}

#forward {
    display: block;
    margin-left: -15px;
    padding: 7px;
    border: 1px solid #dadce0;
    border-radius: 25%;
    background: white;
    opacity: 0.85;
}

#forward:hover {
    opacity: 1;
}

.image-results::before{
    content:"";
    width:705px;
    border-bottom: 1px solid #dadce0;
    position: absolute;
    top: 1020px;
    left: 185px;
}

#view-more{
    background: white;
    width: 200px;
    border: 1px solid #dadce0;
    border-radius: 400px;
    margin-left: 380px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 40px;
}

#view-more p{
    margin-left: 45px;
    color: #1a73e8;
}

#view-more img{
    margin-left: 5px;
}

#view-more:hover {
    background-color: #f8f9fa;
}

.bottom-results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

h3{
    margin-left: 123px;
    color: #222;
    font-size: 21px;
    font-weight:300;
}

#subtitle{
    margin-left: 123px;
    color: #222;
    font-size: 16px;
}

#title a, #title a *{
    margin: 0;
}

#title img {
    width: auto;
    height: 70px;
    border-radius: 5px;
}

#title a{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.text-box {
    color: #5f6368;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-left: 124px;
    padding-top: 10px;
}

.text-box::before{
    content:"";
    width: 663px;
    border-bottom: 1px solid #dadce0;
    position: absolute;
    top: 1900px;
}

.text-box *{
    padding-left: 0px;
}

#title #text {
    font-weight: 300;
    margin-left: 20px;
}

#title #text h4 {
    font-size: 18px;
    margin-top: 10px;
    color: #222;
}

#title #text h5 {
    font-size: 12px;
    font-weight: lighter;
    margin-top: 15px;
    color: #5f6368;
}

.text-box p {
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 20px;
}

.text-box p a {
    margin:0;
}

.text-box p a:hover{
    text-decoration: underline;
}

#title {
    margin-left: 20px;
}

.related-searches .container{
    margin: 0;
}

.container::before{
    content:"";
    width: 663px;
    height:360px;
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    position:absolute;
    top:1710px;
    left: 185px;
}

.container button {
    width: 156px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 382px;
    border: 1px solid #dadce0;
    border-radius: 20px;
    background: transparent;
    padding: 20px 15px;
}

.container button:hover {
    cursor: pointer;
    z-index: 1;
}

.container button img {
    width: 20px;
    height: auto;
}

.container button * {
    margin: 0;
    z-index: 0;
}

.container button p {
    margin-left: 5px;
    color: #222;
}

#other-searches a img {
    width: 20px;
    height: auto;
}

#other-searches {
    margin-top: 25px;
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    margin-left: 124px;
    align-items: center;
}

#other-searches * {
    margin: 0;
}

#other-searches a {
    display: flex;
    width: 260px;
    align-items: center;
    height: 25px;
    background: #f1f3f4;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 25px;
    padding: 2px 20px;
}

#other-searches p {
    color: #222;
    font-weight: bold;
    font-size: 16px;
    margin-left: 23px;
}

#other-searches p:hover {
    text-decoration: underline;
}

#pages {
    margin-top: 25px;
    margin-left: 360px;
}

#pages * {
    margin: 0;
}

#long-google {
    display:flex;
    align-items: flex-start;
}

#pages-number {
    display: flex;
}

#google-g {
    width: 31px;
    height: 40px;
    background-image: url("../img/googlelogo_color_272x92dp.png");
    background-size: cover;
}

.google-o {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 187, 0)}

#red {
    color: red;
}

.o-group, #next {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#google-gle {
    height: 40px;
    width: 46px;
    background-image: url("../img/googlelogo_color_272x92dp.png");
    background-size: cover;
    background-position-x: -72px;
}

#next {
    margin-left: 8px;
}

#next img {
    height: 15px;
    width: auto;
    margin-top: 7px;
}

#next p{
    margin-top: 11px;
}

.o-group .number:hover, #next p:hover {
    text-decoration: underline;
}

#one {
    color: #222;
}

#one:hover {
    text-decoration: none;
}

footer {
    margin-top: 40px;
    height: 25px;
    background: #f2f2f2;
}

.links {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
    padding-top: 15px;
}

.links a{
    color: #70757a;
    text-decoration: none;
    font-size: 15px;
}

.links a:hover {
    color: #222;
}